<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
    <form th:action="@{/user/add}" method="post">
        <div>
            <label>username: </label>
            <input type="text" name="username">
        </div>
        <div>
            <label>password: </label>
            <input type="password" name="password">
        </div>
        <button type="submit">register</button>
        <a th:href="@{/login}">login</a>
    </form>
</body>
</html>